
.heroContainer {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    /* Metin alanı görsele göre biraz daha geniş */
    gap: 24px;
    align-items: stretch;
    margin-top: 20px;
    max-height: 530px;
}

/* Sol taraf: İçerik Alanı */
.firstContainer {
    background-color: #f8f8f8;
    padding: 60px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #121417;
    margin-bottom: 32px;
}

.titleAccent {
    font-style: italic;
    font-weight: 400;
    background-color: var(--accent-color);
    border-radius: 8px;
    width: 195px;
    height: 40px;
}

.descr {
    font-size: 16px;
    line-height: 137%;
    letter-spacing: -0.02em;
    margin-bottom: 65px;
    max-width: 470px;
}

.btn {
    border-radius: 12px;
    padding: 16px 88px;
    background-color: var(--primary-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
}

.secondContainer {
    display: flex;
    align-items: center;

    flex-direction: column;
    border-radius: 30px;
    min-width: 568px;
    height: 530px;
    background-color: var(--accent-color);
    position: relative;
}

.womanImage {
    margin-top: 80px;
    width: 339px;
    height: 339px;
}

.iMacImage {
    position: absolute;
    bottom: 0;
}